:root{


--dark : #050504;
--yellow : #fbbb5b;
--LightYellow : #fbf0d9;
--brown: #7c5c2c;
--lightbrown: #9f7439;
--cream : #fbd89c;
--darkCream : #fccc7d;
--heavyBrown: #85642c;
--gray: #646464;
--mehdi : #af925d;


}